body {
  background: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

#tyrtle {
  margin: 30px auto;
  max-width: 960px;
  width: 95%;
}

h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #f90;
}
.tools {
  margin-bottom: 20px;
}
.tools a {
  text-decoration: none;
  text-transform: uppercase;
  font-size:80%;
  margin-right: .5em;
}
h1 > a,
h2 > a {
  color: #000;
}
h1 > a:hover,
h2 > a:hover {
  color: #000;
  text-shadow: 0 0 20px #fff;
}
.mod {
  clear: both;
  border-left: 5px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
}
.mod + .mod {
  border-top: 0;
}
.mod.pass {
  border-left-color: #6FC46F;
  border-right-color: #418E41;
}
.mod.pass:last-child {
  border-bottom: 1px solid #418E41;
}
.mod.fail {
  border-left-color: #D35F61;
  border-right-color: #AD393B;
}
.mod.fail:last-child {
  border-bottom: 1px solid #AD393B;
}
.mod > h2 {
  margin: 0;
  padding: .2em 10px;
  border-bottom: 1px solid;
}
.mod.pass > h2 {
  border-color: #44c544;
  background: #62BA62;
  background: -moz-linear-gradient(left, #6FC46F 0%, #418E41 100%);
  background: -webkit-linear-gradient(left, #6FC46F 0%,#418E41 100%);
  background: -o-linear-gradient(left, #6FC46F 0%,#418E41 100%);
  background: -ms-linear-gradient(left, #6FC46F 0%,#418E41 100%);
  background: linear-gradient(left, #6FC46F 0%,#418E41 100%);
}
.mod.fail > h2 {
  border-color: #f66;
  background: #D35F61;
  background: -moz-linear-gradient(left, #D35F61 0%, #AD393B 100%);
  background: -webkit-linear-gradient(left, #D35F61 0%,#AD393B 100%);
  background: -o-linear-gradient(left, #D35F61 0%,#AD393B 100%);
  background: -ms-linear-gradient(left, #D35F61 0%,#AD393B 100%);
  background: linear-gradient(left, #D35F61 0%,#AD393B 100%);
}
.modinfo {
  position: absolute;
  top: 1.1em;
  right: 0;
  color: #fff;
  font-size: 80%;
  padding: 3px 5px;
}
.tests > li {
  list-style: none;
}
.tests {
  margin: 0;
  padding: 10px 15px 20px;
}
.tests > li > a {
  padding-left: .4em;
  font-size: 80%;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 0;
}
.tests > li:hover > a {
  opacity: 1;
}
.testname {
  font-weight: bold;
}
li.fail > .testname {
  color: red;
}
li.pending {
  color: #666;
}
.variable {
  font-family: monospace;
  font-size: 9pt;
  background-color: #ffb;
  padding: 0 .2em;
}
.variable.clickable {
  border-bottom: 1px dotted #aaa;
  cursor: pointer;
}
.variable.clickable:hover {
  border-bottom-color: #f90;
}
.variable.number {
  color: #a00;
}
.variable.string:before,
.variable.string:after {
  content: '"';
  color: grey;
}
.variable.null,
.variable.undefined {
  color: grey;
  font-style: italic;
}
.variable.regexp {
  color: green;
}
