body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #f90;
}
.tools {
  margin-bottom: 10px;
}
.tools a {
  text-decoration: none;
  text-transform: uppercase;
  font-size:80%;
  margin-right: .5em;
}
h1 > a,
h2 > a {
  color: #000;
}
h1 > a:hover,
h2 > a:hover {
  color: #000;
  text-shadow: 0 0 20px #fff;
}
.mod {
  clear: both;
  border: 1px solid #ccc;
  border-left-width: 5px;
  position: relative;
}
.mod + .mod {
  border-top: 0;
}
.mod.pass {
  border-left-color: #0a0;
}
.mod.fail {
  border-left-color: #a00;
}
.mod > h2 {
  margin: 0;
  padding: .2em 10px;
  border-bottom: 1px solid;
}
.mod.pass > h2 {
  border-color: #44c544; /* Old browsers */
  background: #009100;
  background: -moz-linear-gradient(left, #009100 0%, #ffffff 20%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009100), color-stop(20%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #009100 0%,#ffffff 20%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #009100 0%,#ffffff 20%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #009100 0%,#ffffff 20%); /* IE10+ */
  background: linear-gradient(left, #009100 0%,#ffffff 20%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009100', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.mod.fail > h2 {
  border-color: #f66;
 background: #e52020; /* Old browsers */
background: -moz-linear-gradient(left, #e52020 0%, #ffffff 20%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e52020), color-stop(20%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #e52020 0%,#ffffff 20%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #e52020 0%,#ffffff 20%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #e52020 0%,#ffffff 20%); /* IE10+ */
background: linear-gradient(left, #e52020 0%,#ffffff 20%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52020', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.modinfo {
  position: absolute;
  top: 1.3em;
  right: 0;
  color: #666;
  font-size: 80%;
  padding: 3px 5px;
}
.tests > li {
  list-style: none;
}
.tests {
  margin: 0;
  padding: 10px 15px 20px;
}
.tests > li > a {
  padding-left: .4em;
  font-size: 80%;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.tests > li:hover > a {
  opacity: 1;
}
.testname {
  font-weight: bold;
}
li.fail > .testname {
  color: red;
}
li.pending {
  color: #666;
}
.variable {
  font-family: monospace;
  font-size: 9pt;
  background-color: #ffb;
  padding: 0 .2em;
}
.variable.clickable {
  border-bottom: 1px dotted #aaa;
  cursor: pointer;
}
.variable.clickable:hover {
  border-bottom-color: #f90;
}
.variable.number {
  color: #a00;
}
.variable.string:before,
.variable.string:after {
  content: '"';
  color: grey;
}
.variable.null,
.variable.undefined {
  color: grey;
  font-style: italic;
}
.variable.regexp {
  color: green;
}
